<html>
<title>Jon's About Page</title>
<head>
<style>
#section1 {width:400px;float:left;padding-left:100px;}
#section2 {width:400px;float:left;padding-left:100px;}
#footer {width:1100px;text-align:center;padding-top:200px}
</style>
</head>
<header>
<h1 style="text-align:center">Jon's About Page</h1>
</header>
<body>
<p style="text-align:center"><img src="http://www.fusionhit.com/wp-content/uploads/2014/10/rails.jpg" alt="Ruby on Rails" style="width:1000px;height:288px"></p>

<div id="section1">
  <p>This is the about page</p>
</div>



<div id="footer">
  <%= link_to 'Home', root_path %>
<p>Made by Jon!</p>
</body>
</html>