<html>
<title>Jon's Homepage</title>
<head>
<style>
#wrapper {width:43%; margin: 0 auto}
#section1 {width:400px; float:left; padding-left:100px;}
#section2 {width:400px; float:left; padding-left:100px;}
#footer {width:1100px;text-align:center;padding-top:400px}
</style>
</head>
<header>
<h1 style="text-align:center">Jon's Homepage</h1>
</header>
<body>
<p style="text-align:center"><img src="http://www.fusionhit.com/wp-content/uploads/2014/10/rails.jpg" alt="Ruby on Rails" style="width:1000px;height:288px"></p>

<div id=wrapper>
<div id="section1">
<p>This is my homepage.  I made this page out using HTML. I am making this page for the Ruby on Rails course that I am taking through Udemy.
<p>From Wikipedia on HTML: "HyperText Markup Language, commonly referred to as HTML, is the standard markup language used to create web pages. Along with CSS, and JavaScript, HTML is a cornerstone technology, used by most websites to create visually engaging webpages, user interfaces for web applications, and user interfaces for many mobile applications.[1] Web browsers can read HTML files and render them into visible or audible web pages. HTML describes the structure of a website semantically along with cues for presentation, making it a markup language, rather than a programming language.

HTML elements form the building blocks of all websites. HTML allows images and objects to be embedded and can be used to create interactive forms. It provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items.


</div>

<div id="section2">
<p>Ruby on Rails, or simply Rails, is a web application framework written in Ruby under MIT License. Rails is a model view controller (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing. In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), and the active record pattern.
</div>






<div id="footer">
<%= link_to 'About', about_path %>
<p>Made by Jon!</p>
</div>

  </div>
</body>
</html>