<h2>Number</h2>

<h1>
  <%= num = rand(2) %>

  <%= puts "$num" %>
  
  <% if num == 1 %>
    </br>
    Go Right
  <% else %>
    Go Left
  <% end %>  
  
  
  <form method="get" action="/number" class="button_to">
     <input value="Show" type="submit" />
  </form>
</h1>